@media (min-width: 800px){
    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        overflow-x: hidden;
    }

    p {
        padding-top: 2vw;
        font-size: 1vw;
        padding-bottom: 4vw;
    }

    h1 {
        font-size: 2.5vw;
    }
    
    .headerDiv {
        width: 100%;
        position: absolute;
    }
    
    .navMenu {
        width: 100%;
        text-align: left;
        display: flex;
        padding: 1.5vw 2vw;
        transform: translateX(20%);
    }

    .navMenu li {
        display: inline-block;
        color: white;
        font-weight: 700;
        padding: 1vw;
    }
    
    .menuIcons {
        display: block;
        position: absolute;
        width: 50%;
        justify-content: space-between;
        padding: 2vw 4vw;
    }

    .menuIcons img {
        width: 20%;
    }

    .menuHamb {
        display: none;
    }
    
    .logo {
        width: 20vw;
    }
    
    .menuHamb {
        width: 5vw;
    }

    .arrows {
        width: 10%;
        display: flex;
        background-color: black;
        transform: translate(59.4vw, 29.333vw);
        position: absolute;
    }
    
    .arrows img {
        background-color: black;
        padding: 2vw;
    }
    



    .hero {
        box-sizing: border-box;
        display: flex;
        max-width: 60%;
        height: 35vw;
        overflow: hidden;
    }

    .hero img {
        width: 60vw;
        height: 100%;
        overflow: hidden;
    }
    
    .asideDiv {
        box-sizing: border-box;
        text-align: left;
        max-width: 40%;
        padding: 6vw 6vw;
        height: 35vw;
    }

    .asideDiv .shop {
        font-size: 2vw;
        
    }

    .downOne {
        width: 30%;
    }

    .downOne img {
        height: 100%;
    }

    .downTwo {
        box-sizing: border-box;
        width: 40%;
        padding: 4vw 3vw 0vw ;
        height: auto;
        
    }

    .downTree {
        width: 30%;
    }

    .downTree img {
        height: 100%;
    }

    .shop {
        padding-top: 0;
        font-weight: 300;
        letter-spacing: 0;
        font-size: 2vw;
    }



    
}
